body{
  background-color: #633a82;
  color:#ffffff;
}
h1{
  color: #ffffff;
  font-family: Georgia;
  font-size: 24px;
}
h2{
  color: #ffffff;
  font-family: Georgia;
  font-size: 15px;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-top-width: 5px;
  width:50px;
  border-color: #72b5b7;

}
p{
  font-family:cursive;
  font-size: 15px;
}
li{
  font-family:cursive;
  font-size: 15px;
}
a{
    color: #ffffff;
    font-family:cursive;
    font-size: 15px;
}
table{
     table-layout: auto;
     border-style: dashed;
    

}
